<!DOCTYPE html>
<head>
</head>
<body>
    <p>Сумма пополнения: {{ amount }}</p>
    <p>Ответственное лицо: {{ first_name }} {{ last_name }} {{ middle_name }}</p>
    <p>Телефон: {{ phone }}</p>
    <p>Наименование организации: {{ organization_title }}</p>
    <p>Юридическое название организации: {{ organization_legal_title }}</p>
    <p>Юридический адрес: {{ organization_address }}</p>
    <p>ИНН: {{ organization_inn }}</p>
    <p>КПП: {{ organization_kpp }}</p>
    <p>ОГРН: {{ organization_ogrn }}</p>
    <p>ОГРНИП: {{ organization_ogrnip }}</p>
</body>
